<header class="home__header">
    <div class="home__header__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <button class="home__header__burger" onclick="document.querySelector('.home__header__nav').classList.toggle('show')"><i class="fa fa-bars"></i> Menu </button>        <nav class="home__header__nav">
        <ul class="home__header__nav--menu">
            <li>
                <a href="/products/filter?section=popular">Populares</a>
                <hr>
            </li>
            <li>
                <a href="/products/filter?section=temporada">Temporada</a>
                <hr>
            </li>
        </ul>
        <ul class="home__header__nav--user">
            <li>
                <a href="/products/add">Agregar</a>
                <hr>
            </li>
            <li>
                <a href="/users/login">Login</a>
                <hr>
            </li>
            <li>
                <a href="/users/register">Registro</a>
                <hr>
            </li>
        </ul>
    </nav>
    <form action="/products/search" class="home__header__form--search" method="GET">
        <input type="text" name="keywords">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</header>