.detail__main__section__article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px
}

.detail__main__section__article img{
   width: 100%;
}

.detail__main__section--images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.detail__main__section--images img {
    width: 32%;
   
}

.detail__main__section--content {
    margin-top: 30px;
}

.detail__main__section--content p {
    margin: 20px 0;
}

@media (min-width:768px) {
    .detail__main__section__article{
       
        flex-direction: row-reverse;
        justify-content: space-between;

    }

    .detail__main__section__article img{
        width: 67%;
     }

     .detail__main__section--images {
       width: 30%;
    }

    .detail__main__section--images img {
        width: 100%;
       
    }
     
}

@media (min-width:1024px) {
    .detail__main__section {
        width: 768px;
        margin: 20px auto;
    }
}